@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  background: #f4f4f4;
  color: #333;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

#main-header {
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
}
/* navbar stying */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  height: 70px;
}
.logo {
  font-size: large;
}

.nav-items ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-items ul li {
  text-align: center;
  margin: 0 20px;
  font-weight: 300;
}

.nav-items ul li i {
  padding: 0 5px;
}

/* hero class styling */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 100px);
  background: url(/media/herobackground.jpg) no-repeat center center/cover;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 50%;
  height: 100%;
  text-align: center;
  color: #ffffff;
  margin: 0 20px;
}
.main-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 50%;
  height: 100%;
  text-align: center;
}

/* button styling */

.main-btn a {
  display: inline-block;
  color: #333;
  font-weight: 300;
  font-size: 25px;
  padding: 5px 15px;
  border: 1px solid #333;
  border-radius: 50px;
  background: #f4f4f4;
  transition: background 0.5s ease;
}
.main-btn a:hover {
  background: #333;
  color: #f4f4f4;
}

/* decription styling */
.description h2 {
  font-size: 55px;
  color: #ffffff;
}
.description p {
  font-size: 20px;
  font-weight: 400;
}

.nav-items ul li:hover {
  border-bottom: 1px solid #333;
}

/* services section styling */
#services {
  max-width: 1400px;
  margin: 0 auto;
  height: 500px;
}

#services h3 {
  text-align: center;
  margin: 10px;
  padding: 0 20px;
  font-size: 35px;
}
.service-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  margin: 0 20px;
  flex-wrap: wrap;
}

.service-list > div {
  flex: 1 1 calc(50% - 40px);
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: rgba(0, 0, 0, 0.025);
}
.service-list h4 {
  padding: 10px;
}
.service-list p {
  padding: 10px;
}
.service-list a {
  display: inline-block;
  color: #333;
  font-weight: 300;
  font-size: 20px;
  padding: 5px 15px;
  border: 1px solid #333;
  border-radius: 50px;
  background: #f4f4f4;
  transition: background 0.5s ease;
  margin: 10px 0 0;
}

.service-list a:hover {
  background: #333;
  color: #f4f4f4;
}

/* team styling */

#about {
  max-width: 1400px;
  margin: 50px auto;
}
#about h3 {
  text-align: center;
  margin: 30px 20px;
  padding: 10px 20px;
  font-size: 35px;
}

.team-members {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.025);
  margin: 0 15px;
}
.team-members > div {
  padding: 20px;

  flex: 1 1;
  text-align: center;
}
.team-members img {
  height: 400px;
}

.team-members h5 {
  font-size: 20px;
  padding: 5px;
}
.team-members p {
  font-weight: 200;
}
.team-members a {
  display: inline-block;
  color: #f4f4f4;
  font-weight: normal;
  font-size: 16px;
  padding: 5px 15px;
  border: 1px solid #333;
  border-radius: 50px;
  background: #333;
  transition: background 0.5s ease;
  margin: 10px 0 0;
}
.team-members a:hover {
  background: #f4f4f4;
  color: #333;
}

#contact {
  max-width: 1400px;
  margin: 0px auto;
}
.contact {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  background: rgba(0, 0, 0, 0.025);
  margin: 0 15px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
form input {
  margin-bottom: 10px;
  font-size: 18px;
  padding: 5px;
}

.submit {
  margin: 15px;
  padding: 5px 15px;
  border-radius: 30px;
  border: 0;
  background: #333;
  color: #f4f4f4;
  cursor: pointer;
  transition: background 0.5s ease;
}
.submit:hover {
  border: 1px solid #333;
  background: #f4f4f4;
  color: #333;
}
.contact-form h5 {
  font-size: 22px;
}
.contact > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}
.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.location h5 {
  text-align: center;
  padding: 20px;
  font-size: 22px;
}
.location img {
  height: 340px;
}

#container {
  max-width: 1400px;
  margin: 0px auto;
  text-align: center;
  padding: 30px;
}
#container p {
  padding: 10px;
}
#container i {
  padding-right: 5px;
}
footer {
  padding: 25px;
  float: right;
  font-size: 16px;
}
